<html>

<head>
    <title>Commands</title>
</head>

<body>
    <h3><a href="install_requirements/">Install requirements</a></h3>
    <h3><a href="get_facebook_tokens/">Get Facebook tokens</a></h3>
    <h3><a href="process_codebase/">Refresh codebase</a></h3>
    <h3><a href="migrate/">Migrate</a></h3>
    <h3><a href="setup_system/">Setup system</a></h3>
    <h3><a href="backup/">Backup system</a></h3>

    <h1>WEB</h1>
    <h3><a href="web/stop_all_servers/">Stop all servers</a></h3>
    <h3><a href="web/staer_all_servers/">Start all servers</a></h3>
    <h3><a href="web/stop_all_api_servers/">Stop all API server</a>s</h3>
    <h3><a href="web/start_all_api_servers/">Start all API servers</a></h3>
    <h3><a href="web/restart_all_servers/">Restart all servers</a></h3>
    <h3><a href="web/restart_all_api_servers/">Restart all API servers</a></h3>
</body>

</html>